element-chat-box {
  border: dashed black .5px;
  border-radius: 5px;
  height: 600px;
  width: calc(100% - 60px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px 30px;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}