element-card-message {
  width: 100%;
  max-width: 300px;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


  &.success {
    border: solid green 1px;
  }

  &.error {
    border: solid red 1px;

  }
}