element-card-user-message {
  padding: 0 15px;
  background-color: whitesmoke;
  border-radius: 5px;

  h3 {
    margin-bottom: 0px;
    padding: 0;
  }

  .container-children {
    padding: 12px 0;
    
    img{
      border-radius: 5px;
      max-width: 50%;
      max-height: 50%;
    }
  }
}